body {
    background-image: url('C:/Users/aarus/login_app/src/assets/bg_black.avif');
    background-size: cover;
    background-position: center;
    color: #E0E0E0; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.navbar {
    background-color: rgba(40, 40, 40, 0.8); 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px; 
}
.title {
    color: #6200EE;
}
.logoutButton {
    background-color: #6200EE;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}
.logoutButton:hover {
    background-color: #3700B3;
}
.content {
    display: flex;
    flex-grow: 1;
    align-items: left;
}
.sidebar {
    background-color: rgba(40, 40, 40, 0.8);
    padding: 20px;
    width: 200px;
    border-radius: 30px; 
    margin-top: 10px;
    margin-right: 10px;
}
.sidebar h3 {
    color: #6200EE;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar button {
    background-color: transparent; 
    color: #E0E0E0;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
}
.sidebar button:hover {
    background-color: rgba(98, 0, 238, 0.2);
}
.user-table {
    width: 100%;
    border-collapse: collapse;
}
.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444; 
}
.user-table th {
    background-color: rgba(40, 40, 40, 0.8);
    color: #6200EE;
}
.main-content h2 {
    color: #FFFFFF; 
    padding: 10px;
    margin-left: 10px;
}
.editButton {
    background-color: #ffe100;
    color: white; 
    border-radius: 4px; 
    border:none; 
    padding: 5px 10px; 
}
.editButton:hover {
   background-color: #e0c200;
}
.deleteButton {
   background-color: #FF4500;
   color:white; 
   border-radius:4px; 
   border:none; 
   padding:5px 10px; 
}
.deleteButton:hover {
   background-color:#FF0000;
}